
/*
CSS for xaringan slides
Author: Keith McNulty, Jiena McLellan
Updated: 8/4/2020
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/* Package defaults that we slightly tweak */

a, a > code {
  color: #97BBD5; /* blue accent 2 */
  text-decoration: none;
}

code {
  overflow-x:auto;
}

/* slightly lower and bigger than default */
.footnote {
  position: absolute;
  bottom: 1em;
  padding-right: 4em;
  font-size: 95%;
}

/* important code slightly blue */
.remark-code-line-highlighted {
  background-color: #97BBD5 !important;
}

/* color tweak */
.inverse {
  background-color: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}

/* slightly spacing change */
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
  line-height: 1.0em;
}

/* Two-column layout (slightly wider for aspect ration) */
.left-column {
  color: #777;
  width: 25%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

/* slightly thiner to suppor aspect ration */
.right-column {
  width: 70%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 45%;
}

.pull-right {
  float: right;
  width: 45%;
}

.pull-right + * {
  clear: both;
}

img, video, iframe {
  max-width: 100%;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

/* adjust table horizontal spacing */
th, td {
    padding:0 15px 0 15px;
}

/* remove color from tables */
table {
  margin: auto;
  border-top: none;
  border-bottom: none;
}

table thead th { border-bottom: none; }
thead, tfoot, tr:nth-child(even) { background: none; }

/* leave this alone */
@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/*~~~~~>>~~~~~~~~~*/
/* MIDD additions */
/*~~~~~~~>>~~~~~~~*/

/* Title slide */

/* Add image and change bg color */
.title-slide {
  background-image: url(www/Rlogo.png);
  background-position: 95% 5%;
  background-size: 200px;
  background-color: #fff;
}

/* H1 fonts */
.title-slide h1 {
  color: #002960;
  padding-top: 0;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  line-height: 0.05;
  text-align: left;
  text-shadow: none;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

/* H2 fonts */
.title-slide h2 {
  color: rgb(0, 41, 96, .7);
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  text-shadow: none;
  padding-top: 0px;
  margin-top: 0px;
}

/* H3 fonts */
.title-slide h3 {
  font-size: 28px;
  font-weight: normal;
  font-family: "Source Sans Pro", sans-serif !important;
  color: rgb(0, 41, 96, .4);
  text-align: left;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  line-height: 1;
}

/* Remove slide count */
.title-slide .remark-slide-number {
  text-shadow: none;
}

/*~~~~~~~~~~~~~~~~~~*/
/* SECTION DIVIDERS */
/*~~~~~~~~~~~~~~~~~~*/

/* section divider blue */
.title-slide-section-blue {
  background-color: #002960;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* section divider blue H1 fonts */
.title-slide-section-blue h1, .title-slide-section-blue h2, .title-slide-section-blue h3, .title-slide-section-blue p {
  color: #002960;
}

.title-slide-section-blue p {
  color: #fff;
}

/* section divider grey */
.title-slide-section-grey {
  background-color: rgb(0, 41, 96, .4);
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* section divider grey H1 fonts */
.title-slide-section-grey h1, .title-slide-section-grey h2, .title-slide-section-grey h3 {
  color: rgb(0, 41, 96, .4);
}

.title-slide-section-grey p {
  color: #fff;
}

/*~~~~~~~~~~~~~~~~~~*/
/* FINAL SLIDE      */
/*~~~~~~~~~~~~~~~~~~*/

.title-slide-final {
  background-color: #AAA59F;
  color: #fff;
  padding-left: 100px;
/*  text-shadow: 0 0 3px #333; */
  text-align: center;
}

.title-slide-final h1 {
  color: rgb(0, 41, 96);
}

.title-slide-final h2 {
  color: rgb(0, 41, 96, .75);
}

.title-slide-final h3 {
  color: rgb(0, 41, 96, .5);
}

/*~~~~~~~~~~~~~~~~~~~~*/
/* Global adjustments */
/*~~~~~~~~~~~~~~~~~~~~*/

/* Color adjustments for text */

/* Make bold syntax compile to midd-blue */
strong {
  color: rgb(0, 41, 96);
}

.RUred {
  color: #cc0033;
}

/* Add blue tag */
.blue {
  color: rgb(0, 41, 96, .7);
  font-weight: bold;
}

/* Add grey tag */
.grey {
  color: rgb(0, 41, 96, .4);
}

.lightgrey {
  color: rgb(0, 41, 96, .3);
}

/* Force black */
.black {
  color: black;
  font-weight: bold;
}

/* Add white tag */
.white {
  color: white;
}

/* small R logo class */
.r-logo {
  background-image: url(www/Rlogo.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-color: #fff;
  background-position: 99% 1%;
}

/* small RStudio logo class */
.rstudio-logo {
  background-image: url(www/Rlogo.png);
  background-repeat: no-repeat;
  background-size: 100px;
  background-color: #fff;
  background-position: 99% 1%;
}

/* bigfont class */
.bigfont {
  font-size: 24px;
}

/* reallybigfont class */
.reallybigfont {
  font-size: 32px;
}



/* Color and font adjustments to text and headers */

body {
  font-family: 'Oswald', sans-serif;
  font-weight: regular;
}

.remark-slide-content h1 {
  color: rgb(0, 41, 96);
  font-weight: bold;
  font-size: 200%;
  font-family: 'Oswald', sans-serif;

}

.remark-slide-content h2 {
  color: rgb(0, 41, 96, .75);
  font-weight: regular;
  font-size: 150%;
  font-family: 'Oswald', sans-serif;
}

.remark-slide-content h3 {
  color: rgb(0, 41, 96, .5);
  font-weight: regular;
  font-size: 125%;
  font-family: 'Oswald', sans-serif;
}

/* slide numbers */

.remark-slide-number {
  font-size: 50%;
}

/* Font size tags */
.big {
  font-size: 1.2em;
}

/* midd blockquote */
midd-blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  border-left: solid 10px #0D395F;
  background-color: #AAA59F;
  padding: 1em;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* boxes */

.box {
  float: left;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  clear: both;
}

.pink {
  background-color: #ffc0cb;
}

.lightblue {
  background-color: #add8e6;
}

.blue {
  background-color: blue;
}

.small {
  font-size: 18px;
}

/* table */

table {
  border-spacing: 30px;
}

th, td {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

